@{
    Layout = null;
}
@using PagedList
@using PagedList.Mvc
@model IEnumerable<DataAccess.Entities.Questions>
<div id="questionTable">
    <div class="content-box-large">
        <div class="panel-heading">
            <div class="panel-title"><h2>Questions</h2></div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">

                <table class="table">
                    <tr>
                        <th>
                            <strong> Question</strong>
                        </th>

                        <th>Action</th>
                    </tr>

                    @foreach (var item in ViewBag.OnePageOfQuestion)
                    {
                        <tr>
                            <td>
                                <strong> @item.QuestionText</strong>
                            </td>

                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = @item.QuestionID }, new { @class = "btn btn-info btn-xs" }) |
                                @Html.ActionLink("Details", "Details", new { id = @item.QuestionID }, new { @class = "btn btn-primary btn-xs" }) |
                                @Html.ActionLink("Delete", "Delete", new { id = @item.QuestionID }, new { @class = "btn btn-danger btn-xs" })
                            </td>
                        </tr>
                    }

                </table>
                @Html.PagedListPager((IPagedList)ViewBag.OnePageOfQuestion, page => Url.Action("QuestionsList", new { page, productId= ViewBag.ProductId }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "questionTable" }))
            </div>
        </div>
    </div>
</div>
