@using PagedList
@using PagedList.Mvc

<div id="productTable">
    <div class="content-box-large">
        <div class="panel-heading">
            <div class="panel-title"><h2>Products</h2></div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">

                <table class="table">
                    <tr>
                        <th>
                            <strong> Product Name</strong>
                        </th>
                        <th>
                            <strong>Product Description</strong>
                        </th>
                        <th>
                            <strong>Active</strong>
                        </th>
                        <th>Action</th>
                    </tr>

                    @foreach (var item in ViewBag.OnePageOfProducts)
                    {
                        <tr>
                            <td>
                                @item.ProductName
                            </td>
                            <td>
                                @item.EnProductDescription
                            </td>
                            <td>
                                @if (item.Active == true)
                                {
                                    <span class="label label-success">Active</span>

                                }
                                else
                                {
                                    <span class="label label-danger">Inactive</span>

                                }
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = @item.ProductId, companyId = ViewBag.companyId }, new { @class = "btn btn-warning btn-xs", data_modal = "" }) |

                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Questions", "Index", "Questions", new { productId = @item.ProductId, questionTypeId = 2 }, null)</li>
                                        @if (item.IsBrandAwareness)
                                        {
                                            <li>@Html.ActionLink("Brand Awareness", "Index", "Questions", new { productId = @item.ProductId, questionTypeId = 1 }, null)</li>
                                        }
                                        @if (item.IsSurvey)
                                        {
                                            <li>@Html.ActionLink("Survey", "Index", "Survey", new { productId = @item.ProductId }, null)</li>
                                        }
                                        @if (item.IsCode)
                                        {
                                            <li>@Html.ActionLink("Pin Code", "Index", "Code", new { productId = @item.ProductId }, null)</li>
                                        }


                                    </ul>
                                </div>



                            </td>
                        </tr>
                    }

                </table>
                @Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("ProductList", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "productTable" }))
            </div>
        </div>
    </div>
</div>

<script>
    var resultVariable;
    $(function () {
        $.ajaxSetup({ cache: false, async: false });

        $("a[data-modal]")
            .on("click",
                function (e) {
                    // hide dropdown if any (this is used wehen invoking modal from link in bootstrap dropdown )
                    //$(e.target).closest('.btn-group').children('.dropdown-toggle').dropdown('toggle');

                    $('#myModalContent')
                        .load(this.href,
                            function () {
                                $('#myModal')
                                    .modal({
                                        backdrop: 'static',
                                        keyboard: true
                                    },
                                        'show');
                                bindForm(this);
                            });
                    return false;
                });
    });

    function bindForm(dialog) {
        $('form', dialog)
            .submit(function () {
                $.ajax({

                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    async: true,
                })
                    .done(function (result) {
                        if (result.success) {

                            $('#myModal').modal('hide');
                            $('#' + result.tableId).load(result.url);
                            //  Load data from the server and place the returned HTML into the matched element
                            $.notify({
                                // options
                                icon: 'glyphicon glyphicon-ok',
                                title: '',
                                message: 'Your data added Successfuly',
                            },
                            {
                                type: "success",

                                placement: {
                                    from: "bottom ",
                                    align: "right"
                                }
                            });
                        } else {
                            $('#myModalContent').html(result);
                            bindForm(dialog);
                            $.notify({
                                // options
                                icon: 'glyphicon glyphicon-warnning',
                                title: '',
                                message: result.message,
                            },
                            {
                                type: "danger",

                                placement: {
                                    from: "bottom ",
                                    align: "right"
                                }
                            });
                        }
                    });
                return false;
            });
    }
</script>